<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="System.Runtime" #>
<#@ assembly name="System.Threading.Tasks" #>
<#@ assembly name="EnvDTE" #>
<#@ assembly name="$(DevEnvDir)PrivateAssemblies\Microsoft.CodeAnalysis.dll" #>
<#@ assembly name="$(DevEnvDir)PrivateAssemblies\Microsoft.CodeAnalysis.CSharp.dll" #>
<#@ assembly name="$(DevEnvDir)PrivateAssemblies\Microsoft.CodeAnalysis.Workspaces.dll" #>
<#@ assembly name="$(DevEnvDir)PrivateAssemblies\Microsoft.CodeAnalysis.Workspaces.Desktop.dll" #>
<#@ assembly name="$(DevEnvDir)PrivateAssemblies\System.Collections.Immutable.dll" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Threading.Tasks" #>
<#@ import namespace="Microsoft.CodeAnalysis" #>
<#@ import namespace="Microsoft.CodeAnalysis.CSharp" #>
<#@ import namespace="Microsoft.CodeAnalysis.CSharp.Syntax" #>
<#@ import namespace="Microsoft.CodeAnalysis.MSBuild" #>
<#@ import namespace="EnvDTE" #>
<#@ output extension=".cs" #>
<#
    var serviceProvider = this.Host as IServiceProvider;
    var dte = serviceProvider.GetService(typeof(DTE)) as DTE;
    var targetProj = dte.Solution.Projects.Cast<EnvDTE.Project>().First(x => x.Name == "UniRx.Tests");
    var projPath = targetProj.FullName;
    var classNames = GetClassNamesAsync(projPath).Result.OrderBy(x => x.ClassName).ThenBy(x => x.MethodName);
#>
#pragma warning disable 168
#if !UNITY_METRO && !UNITY_4_5
using System;
using System.Collections;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading;
using Microsoft.VisualStudio.TestTools.UnitTesting;
using UnityEngine;
using UnityEngine.UI;
using UniRx.Tests;
using UniRx;
using RuntimeUnitTestToolkit;

namespace RuntimeUnitTestToolkit
{
<# foreach(var item in classNames.GroupBy(x => x.ClassName)) { #>

    public partial class <#= item.Key #>
    {
        void SetScehdulerForImport()
        {
        
            Scheduler.DefaultSchedulers.ConstantTimeOperations = Scheduler.Immediate;
            Scheduler.DefaultSchedulers.TailRecursion = Scheduler.Immediate;
            Scheduler.DefaultSchedulers.Iteration = Scheduler.CurrentThread;
            Scheduler.DefaultSchedulers.TimeBasedOperations = Scheduler.ThreadPool;
            Scheduler.DefaultSchedulers.AsyncConversions = Scheduler.ThreadPool;
        }

        [UnityEngine.RuntimeInitializeOnLoadMethod(UnityEngine.RuntimeInitializeLoadType.BeforeSceneLoad)]
        public static void Register()
        {
            var test = new <#= item.Key #>();
<# foreach(var m in item) { #>
            UnitTest.AddTest(test.<#= m.MethodName #>);
<# } #>
        }


<# foreach(var m in item) { #>

<#= m.Code.ToString() #>

<# } #>

        }

<# } #>
}

#pragma warning restore 168
#endif
<#+
    class UnitTestCode
    {
        public string ClassName { get; set; }
        public string MethodName { get; set; }
        public string Code { get; set; }

        public override string ToString()
        {
            return ClassName + "." + MethodName;
        }
    }

    async Task<List<UnitTestCode>> GetClassNamesAsync(string csprojPath)
    {
        var workspace = MSBuildWorkspace.Create();
        var project = await workspace.OpenProjectAsync(csprojPath);

        var compilation = await project.GetCompilationAsync();

        var testCodes = new List<UnitTestCode>();

        foreach (var syntaxTree in compilation.SyntaxTrees)
        {
            var semModel = compilation.GetSemanticModel(syntaxTree);

            var testMethods = syntaxTree.GetRoot()
                .DescendantNodes()
                .OfType<ClassDeclarationSyntax>()
                .Select(x => semModel.GetDeclaredSymbol(x))
                .Where(x => x.GetAttributes().Any(y => y.ToString() == "Microsoft.VisualStudio.TestTools.UnitTesting.TestClassAttribute"))
                .SelectMany(x => x.GetMembers(), (klass, member) => new { klass, member })
                .Where(x => x.member.GetAttributes().Any(y => y.ToString() == "Microsoft.VisualStudio.TestTools.UnitTesting.TestMethodAttribute"))
                .Select(x =>
                {
                    var code = x.member.DeclaringSyntaxReferences[0].GetSyntax().ToFullString();
                    var slice = code.Split(new[]{"\r\n"}, StringSplitOptions.RemoveEmptyEntries).ToList();
                    // [Attr]:0 class:1 {:2
                    // }: last
                    slice.Insert(3, "            SetScehdulerForImport();");
                    slice.Insert(slice.Count - 1, "            UniRx.Scheduler.SetDefaultForUnity();");

                    return new UnitTestCode
                    {
                        ClassName = x.klass.Name,
                        MethodName = x.member.Name,
                        Code = string.Join(Environment.NewLine, slice)
                    };
                });

            testCodes.AddRange(testMethods);
        }

        return testCodes;
    }
#>
