<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".txt" #>
<#
    int MaxCount = 7;
    Func<int, string> BuildGenerics = x => "<" + string.Join(", ", Enumerable.Range(0, x + 1).Select(y => $"T{y}")) + ">";
    Func<int, string> BuildArgument = x => string.Join(", ", Enumerable.Range(0, x + 1).Select(y => $"UniTask<T{y}> task{y}"));
    Func<int, string> BuildTuple = x => "(int winArgumentIndex, " + string.Join(", ", Enumerable.Range(0, x + 1).Select(y => $"(bool hasResult, T{y} result{y})")) + ")";
    Func<int, string> BuildMethodParam = x => string.Join(", ", Enumerable.Range(0, x + 1).Select(y => $"task{y}"));
    Func<int, string> BuildTupleType = x => "(int, " + string.Join(", ", Enumerable.Range(0, x + 1).Select(y => $"(bool, T{y})")) + ")";
    Func<int, string> BuildTupleResult = x => "(i, " + string.Join(", ", Enumerable.Range(0, x + 1).Select(y => $"(i == {y}, parent.result{y})")) + ")";
#>
#if CSHARP_7_OR_LATER || (UNITY_2018_3_OR_NEWER && (NET_STANDARD_2_0 || NET_4_6))
#pragma warning disable CS1591 // Missing XML comment for publicly visible type or member

using System;
using System.Runtime.CompilerServices;
using System.Runtime.ExceptionServices;
using System.Threading;

namespace UniRx.Async
{
    public partial struct UniTask
    {
<# for(var i = 1; i <= MaxCount; i++) { #>
        public static async UniTask<<#= BuildTuple(i) #>> WhenAny<#= BuildGenerics(i) #>(<#= BuildArgument(i) #>)
        {
            return await new WhenAnyPromise<#= BuildGenerics(i) #>(<#= BuildMethodParam(i) #>);
        }

<# } #>
<# for(var i = 1; i <= MaxCount; i++) { #>
        class WhenAnyPromise<#= BuildGenerics(i) #>
        {
<# for(var j = 0; j <= i; j++) { #>
            T<#= j #> result<#= j #>;
<# } #>
            ExceptionDispatchInfo exception;
            Action whenComplete;
            int completeCount;
            int winArgumentIndex;

            bool IsCompleted => exception != null || Volatile.Read(ref winArgumentIndex) != -1;

            public WhenAnyPromise(<#= BuildArgument(i) #>)
            {
                this.whenComplete = null;
                this.exception = null;
                this.completeCount = 0;
                this.winArgumentIndex = -1;
<# for(var j = 0; j <= i; j++) { #>
                this.result<#= j #> = default(T<#= j #>);
<# } #>

<# for(var j = 0; j <= i; j++) { #>
                RunTask<#= j #>(task<#= j #>).Forget();
<# } #>
            }

            void TryCallContinuation()
            {
                var action = Interlocked.Exchange(ref whenComplete, null);
                if (action != null)
                {
                    action.Invoke();
                }
            }

<# for(var j = 0; j <= i; j++) { #>
            async UniTaskVoid RunTask<#= j #>(UniTask<T<#= j #>> task)
            {
                T<#= j #> value;
                try
                {
                    value = await task;
                }
                catch (Exception ex)
                {
                    exception = ExceptionDispatchInfo.Capture(ex);
                    TryCallContinuation();
                    return;
                }

                var count = Interlocked.Increment(ref completeCount);
                if (count == 1)
                {
                    result<#= j #> = value;
                    Volatile.Write(ref winArgumentIndex, <#= j #>);
                    TryCallContinuation();
                }
            }

<# } #>

            public Awaiter GetAwaiter()
            {
                return new Awaiter(this);
            }

            public struct Awaiter : ICriticalNotifyCompletion
            {
                WhenAnyPromise<#= BuildGenerics(i) #> parent;

                public Awaiter(WhenAnyPromise<#= BuildGenerics(i) #> parent)
                {
                    this.parent = parent;
                }

                public bool IsCompleted
                {
                    get
                    {
                        return parent.IsCompleted;
                    }
                }

                public <#= BuildTupleType(i) #> GetResult()
                {
                    if (parent.exception != null)
                    {
                        parent.exception.Throw();
                    }

                    var i = parent.winArgumentIndex;
                    return <#= BuildTupleResult(i) #>;
                }

                public void OnCompleted(Action continuation)
                {
                    UnsafeOnCompleted(continuation);
                }

                public void UnsafeOnCompleted(Action continuation)
                {
                    parent.whenComplete = continuation;
                    if (IsCompleted)
                    {
                        var action = Interlocked.Exchange(ref parent.whenComplete, null);
                        if (action != null)
                        {
                            action();
                        }
                    }
                }
            }
        }

<# } #>
    }
}
#endif